.select-css option {
    background-color: var(--deep-bg);
    color: var(--base-text)
}

.select-css option:checked {
    background-color: var(--deep-bg);
    color: var(--base-text)
}

nav.sidebar {
    position: fixed;
}


@media (min-width: 992px) {
    nav.sidebar {
        position: fixed;
        max-height: auto;
    }

    .main-panel {
        margin-left: 270px;
    }

    .sidebar-icon-only .main-panel {
        margin-left: 70px;
    }
}


.sidebar>.nav>.nav-item:not(.nav-profile)>.nav-link:before {
    content: none;
    position: absolute;
    left: 30px;
    right: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: block;
}

.toggle-handle {
    background-color: white !important;
}

.toggle-on {
    color: black !important;
}

.toggle {
    height: 0px !important;
}

.sidebar>.nav>.nav-item:not(.nav-profile)>.nav-link:before {
    content: none;
    position: absolute;
    left: 30px;
    right: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: block;
}

.sidebar>.nav .nav-item .nav-link,
.collapsed {
    padding: 15px 30px;
}

.mc-log-time {
    color: var(--success);
}

.mc-log-info {
    color: var(--info);
}

.mc-log-warn {
    color: var(--warning);
}

.mc-log-error {
    color: #af463f;
}

.mc-log-fatal {
    color: #da0f00;
}

.mc-log-keyword {
    color: var(--primary);
}

.scrollable-element {
    scrollbar-color: red yellow;
}

.term-nav-item {
    padding: 1%;
}

/* Fix body scrollbar color */
body {
    background-color: var(--dark) !important;
    /* Firefox */
}

/* Webkit */
/* Didn't really work out
::-webkit-scrollbar { background-color: #202538; }
::-webkit-scrollbar-button { background-color: #1D212F; }
::-webkit-scrollbar-thumb { background-color: #777A86; }
::-webkit-scrollbar-thumb:hover { background-color: #646773; }

::-webkit-scrollbar-track { background-color: #202538; }
::-webkit-scrollbar-corner { background-color: #202538; }*/

.actions_serverlist>a>i {
    cursor: pointer;
}

.actions_serveritem {
    cursor: pointer;
}

.corner {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

.accordion .card {
    margin-bottom: 0px;
}